    body {
        background-color:rgb(113, 200, 240);   
        font-family: 'Nunito', sans-serif;
    }

    h1 {
        font-size: 48px;
    }

    .name {
        color: rgb(247, 159, 59); 
        background-color: rgb(255, 255, 255)
    }

    .index, .intro, .main-skills, .fut-skills, .personal-links, .external-links {
        color: rgb(0, 0, 0);
        font-size: 24px;
    }

    .return {
        background-color: rgb(247, 159, 59);
        -webkit-transition: background-color 200ms ease;
        transition: background-color 200ms ease;
        font-family: Montserrat, sans-serif;
        color: #fff;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        text-align: center;
    }

    .photo {
        border-radius: 100%;
        border: solid 10px rgb(247, 159, 59);
    }

    .button {
        margin-top: 35px;
        margin-bottom: 15px;
        padding: 15px 30px;
        border-radius: 20px;
        background-color: rgb(247, 159, 59);
        -webkit-transition: background-color 200ms ease;
        transition: background-color 200ms ease;
        font-family: 'Nunito', sans-serif;
        color: #fff;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        text-align: center;

    }