    body {
        background-color:rgb(113, 200, 240);
        text-align: center;    
    }

    .name {
    color: rgb(247, 159, 59); 
    }

    .index {
        color: rgb(26, 80, 230);
    }

    .profile-photo {
            
    }

    .intro {
color: white;
    }

    .main-skills {
color: rgb(247, 159, 59);
    }

    .fut-skills {

    }

    .personal-links {
color: rgb(26, 80, 230);
    }

    .external-links {
color: rgb(255, 255, 255)
    }

    .return {

    }