    body {
        background-color:rgb(113, 200, 240);   
        font-family: 'Nunito', sans-serif;
        display: inline-block;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    h1 {
        font-size: 48px;
    }

    .name {
        color: rgb(247, 159, 59);
        background-color: white;
        text-align: center;
        width: 800px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
        border: 5px rgb(247, 159, 59);
        border-style: outset
    }

    .index {
        text-decoration: none;
        color: white;
    }

    .index, .intro, .main-skills, .fut-skills, .personal-links, .external-links {
        color: rgb(0, 0, 0);
        font-size: 24px;
        width: 400px;
        text-align: justify;
        text-decoration: none;
        border: rgb(0, 0, 0) outset 5px;
        background-color: rgb(247, 159, 59);
        padding: 20px;
    }

    .return {
        background-color: rgb(255, 255, 255);
        text-align: center;
        font-size: 24px;
        padding: 15px;
        text-decoration: none;
        color: rgb(247, 159, 59);
        border: 5px solid rgb(247, 159, 59);
        width: fit-content;
    }

    .photo {
        border-radius: 100%;
        border: solid 10px rgb(247, 159, 59);
        width: 400px;
        margin-bottom: 40px;
    }

    .button {
        margin-top: 35px;
        margin-bottom: 15px;
        padding: 15px;
        border-radius: 10px;
        background-color: rgb(247, 159, 59)
        -webkit-transition: background-color 200ms ease;
        transition: background-color 200ms ease;
        font-family: 'Nunito', sans-serif;
        color: #fff;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
    }
