    body {
        background-color:rgb(113, 200, 240);
        font-family: 'Nunito', sans-serif;
        position: absolute center;
    }
    
    .main-skills, .fut-skills, .personal-links, .external-links {
        color: rgb(0, 0, 0);
        font-size: 24px;
        width: 400px;
        text-align: justify;
        text-decoration: none;
        border: rgb(0, 0, 0) outset 5px;
        border-radius: 10px;
        background-color: rgb(247, 159, 59);
        padding: 30px;
        text-align: justify;
    }
    
    .header {
        color: rgb(0, 0, 0);
        background-color: rgb(247, 159, 59);
        border: solid 5px rgb(0, 0, 0);
        border-radius: 10px;
        padding: 15px;
        text-align: center;
    }
    
    .item-list {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 10px;
        border-radius: 10px;
        border: solid 3px rgb(0, 0, 0);
        background-color: rgb(113, 200, 240);
        -webkit-transition: background-color 200ms ease;
        transition: background-color 200ms ease;
        font-family: 'Nunito', sans-serif;
        color: rgb(0, 0, 0);
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        text-align: center;
        display: inline-block;
    }
    
    .font {
        text-decoration: none;
        color: black;
    }

    .about {
        color: rgb(0, 0, 0);
        font-size: 24px;
        width: 500px;
        text-align: justify;
        text-decoration: none;
        border: rgb(0, 0, 0) outset 5px;
        border-radius: 10px;
        background-color: rgb(247, 159, 59);
        padding: 30px;
        text-align: justify;
        margin: auto;
    }
    
    .photo {
        border-radius: 100%;
        border: solid 5px rgb(0, 0, 0);
        width: 400px;
        margin-left: 38px;
        margin-top: 30px;
    }    
    
    .main-skills, .fut-skills, .personal-links, .external-links{
        margin: auto;
    }

    .return {
        background-color: rgb(0, 0, 0);
        text-align: center;
        font-size: 24px;
        padding: 15px;
        text-decoration: none;
        color: rgb(247, 159, 59);
        border: 5px solid rgb(247, 159, 59);
        border-radius: 15px;
    }
    
    .button {
        margin-top: 35px;
        margin-bottom: 15px;
        padding: 5px;
        border-radius: 10px;
        border: solid 3px rgb(0, 0, 0);
        background-color: rgb(113, 200, 240);
        -webkit-transition: background-color 200ms ease;
        transition: background-color 200ms ease;
        font-family: 'Nunito', sans-serif;
        color: rgb(0, 0, 0);
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        margin-bottom: 5px;
    }
    