    body {
        background-color:rgb(113, 200, 240);
        text-align: justify;
        font-size: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
    }

    .name {
        color: rgb(247, 159, 59); 
        font-size: 20px;
        text-align: center;
    }

    .index {
        color: rgb(0, 0, 0);
        font-size: 18px;
    }

    .profile-photo {
    
    }

    .intro {
        color: rgb(0, 0, 0);
    }

    .main-skills {
        color: rgb(0, 0, 0);

    }

    .fut-skills {

    }

    .personal-links {
        color: rgb(0, 0, 0);
    }

    .external-links {
        color: rgb(0, 0, 0);
        
    }

    .return {

    }

    .git {
        
    }

    .html {
        
    }
    .css {
        
    }

    .ingles {
        
    }

    .comunicacao {
       
    }


    .office {
        
    }

    .photoshop {
        
    }