    body {
        background-color:rgb(113, 200, 240);
        font-family: 'Nunito', sans-serif;
        display: inline-block;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 48px;
    }

    .name {
        color: rgb(247, 159, 59);
        background-color: white;
        text-align: center;
        width: 900px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
        border: 5px rgb(247, 159, 59);
        border-style: outset
    }
    
    .index, .intro, .main-skills, .fut-skills, .personal-links, .external-links {
        color: rgb(0, 0, 0);
        font-size: 24px;
        width: 400px;
        text-align: justify;
        text-decoration: none;
        border: rgb(0, 0, 0) outset 5px;
        background-color: rgb(247, 159, 59);
        padding: 20px;
    }

    .photo {
        border-radius: 100%;
        border: solid 10px rgb(247, 159, 59);
        width: 400px;
        margin-bottom: 40px;
        /* position: absolute; */
    }

    .index {
        text-decoration: none;
        color: rgb(0, 0, 0);
        /* position: absolute; */
        width: 450px;
        left: 550px;
    }
    
    .item-list {
        color: black;
        text-decoration: none;
    }

    .return {
        background-color: rgb(255, 255, 255);
        text-align: center;
        font-size: 24px;
        padding: 15px;
        text-decoration: none;
        color: rgb(247, 159, 59);
        border: 5px solid rgb(247, 159, 59);
    }
    
    .button {
        margin-top: 35px;
        margin-bottom: 15px;
        padding: 15px;
        border-radius: 10px;
        border: solid 3px rgb(0, 0, 0);
        background-color: rgb(113, 200, 240);
        -webkit-transition: background-color 200ms ease;
        transition: background-color 200ms ease;
        font-family: 'Nunito', sans-serif;
        color: rgb(0, 0, 0);
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
    }
